.market-news-container {
  padding: 20px 0;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.news-tile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-tile h3 {
  margin-top: 0;
  cursor: pointer;
  transition: .3s all ease;

  &:hover {
    text-decoration: underline;
  }
}