<div
  id="nav-main-wrapper"
  class=" d-flex align-items-center flex-row"
>
  <div class="container">
    <div class="header-row row align-items-center">
      <div class="header-section col-4">
        <div
          class="logo d-flex align-items-center"
          routerLink="/"
        >
          <img
            src="/assets/icons/investopedia.svg"
            alt=""
            class="me-2"
          >
          investopedia
        </div>
      </div>
      <div class="header-section col-8 d-flex justify-content-end">
        <div class="menu d-flex align-items-center">
          <nav
            class="navbar navbar-expand-lg"
            data-bs-theme="dark"
          >
            <a
              class="me-3"
              routerLink="news-market"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >market</a>
            <a
              routerLink="news-symbol"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >symbol</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>